<h1>{{ title }}</h1>
<form #basicForm="ngForm" (submit)="getData(basicForm.value)">
    <input type="text" ngModel name="user" placeholder="Enter user name" />
    <br /> <br />
    <input type="text" ngModel name="email" placeholder="Enter user email" />
    <br /><br />
    <input type="text" ngModel name="password" placeholder="Enter user password" />
    <br /><br />
    <button>Register</button>
</form>
<ul>
    <li>{{userData.user}}</li>
    <li>{{userData.email}}</li>
    <li>{{userData.password}}</li>
</ul>