<h1>{{ title }}</h1>
<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
  <input type="email" required #name="ngModel" pattern="[a-zA-Z]+$" name="name" placeholder="Enter Name" ngModel />
  <br /> 
  <span *ngIf="name.invalid && name.touched" style="color: red;" >Please enter a Valid input</span><br />
  <br />
  <input type="password" name="password" minlength="2" required #password="ngModel" placeholder="Enter Password" ngModel />
  <br />
  <span *ngIf="password.invalid && password.touched" style="color: red;" >Please enter a Valid input</span><br />
  <br />
  <button [disabled]="loginForm.invalid">Login</button>
</form>
